.DS_Store
Thumbs.db
*.user
*.suo
*.nupkg
*.appxupload
*.appxsym
*.aps
*.orig
*.log
*.tmp
*.cache
*.apk
*.aab
*.keystore

bin/
obj/
TestResults/
.vs/
.idea/
.gradle/
local.properties
captures/
build/
out/
android/.kotlin/
